.newTaskFormContainer {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.newTaskInput {
  width: 100%;
  margin: 10px 0 !important;
}

.divider {
  width: 100%;
  margin: 10px 0 !important;
  font-weight: bold;
  font-size: 14px;
}

.todoContainer {
  width: 100%;
}

.todo {
  display: flex;
  align-items: center;
}

.todoInput {
  height: 23px;
  margin-right: 15px;
}

.todoAddIcon {
  color: var(--pantone-dark);
}

.submitBtn {
  margin: 10px 0 !important;
}
